<%= form_with(model: [:admin, event_category], local: true) do |form| %>
  <% if event_category.errors.any? %>
    <div id="error-explanation">
      <div class="message message-alert">
        The form contains <%= pluralize(event_category.errors.count, "error") %>:
      </div>
      <ul>
      <% event_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_category_name %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_category_description %>
  </div>
  
  <div class="actions">
    <%= form.submit %>  
  </div>
<% end %>
